<div class=container>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Friend Namee</h5>
      <p class="card-text">Frined Info</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Friend Namee</h5>
      <p class="card-text">Frined Info</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Friend Namee</h5>
      <p class="card-text">Frined Info</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
<button id="bAddFreind" type="button" class="btn btn-success">Add Friend</button>
